.footer-container {
    background-color: #222; /* 푸터 배경색 */
    color: #bbb; /* 푸터 텍스트 색상 */
    padding: 20px;
    margin-top: 50px;
    width: 100%;
    position: relative; /* 위치 조정 */
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto; /* 가운데 정렬 */
}

.footer-left, .footer-right {
    margin: 10px;
}

.footer-left h4, .footer-right h4 {
    margin-bottom: 10px;
    color: #fff;
}

.footer-left ul, .footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-left li, .footer-right li {
    margin-bottom: 5px;
}

.footer-logo {
    text-align: center;
    margin-top: 20px;
}

.footer-logo img {
    width: 100px; /* 로고 크기 */
}
main {
    margin-top: 120px;
    padding-bottom: 100px;
}