/* 실패 섹션 스타일 */
.failure-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 150px); /* 상단바를 제외한 화면 전체 높이 */
    background: linear-gradient(to bottom, #272727 70%, #1c1c1c); /* 어두운 그라데이션 배경 */
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

/* 실패 섹션 헤더 */
.failure-header {
    margin-bottom: 20px;
}

.failure-header h3 {
    font-size: 24px;
    color: #fff;
    margin: 10px 0;
}

.failure-header p {
    font-size: 16px;
    color: #aaa;
    margin: 5px 0;
}

.failure-icon {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

/* 실패 메시지 */
.failure-message h1 {
    font-size: 50px;
    color: #A1CD44; /* 강조된 텍스트 */
    margin: 20px 0;
}

.failure-message p {
    font-size: 16px;
    color: #aaa;
    margin-bottom: 20px;
}

/* 로그인 버튼 */
.login-btn-large {
    background-color: #1b75e9; /* 파란색 배경 */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn-large:hover {
    background-color: #005bb5; /* 호버 시 색상 */
}
